<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/maps.css" type="text/css" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  </head>

  <body>
    <% include ./partials/navbar %>
    <main class="container">
      <section class="row map-details">
        <div class="col-12 map-details-info">
          <div class="row">
            <div class="col-3">
              <p class="map-name"><%= map.map_name %></p>
              <% if (map.is_fav == 1) { %>
                <button type="button" class="btn btn-danger">Remove from favourites</button>
              <% } else { %>
                <button type="button" class="btn btn-primary">Add to favourites</button> 
              <% } %>
            </div>
            <div class="col-6"> 
              <p class="map-desc"><%= map.map_desc %></p>
            </div>
            <div class="col-3">
              <p class="map-favs-nums">Favourited: <span><%= map.favs_count %></span></p>
              <p class="map-created-by">Map created by: <span><%= map.created_by %></span></p>
            </div>
          </div>
        </div>
        <div class="col-12 map-details-map map-preview">
        </div>
      </section>
    </main>
    <% include ./partials/footer %>

    <script type="text/javascript" src="/vendor/jquery-3.5.1.js"></script>
    <!-- <script type="text/javascript" src="/vendor/popper.js"></script> -->
    <script type="text/javascript" src="/vendor/bootstrap.bundle.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
