<% let displayedMaps = []; %>
<% for (map of maps) { %>
  <% if (displayedMaps.indexOf(map.id) == -1) { %>
    <article class="row map-row align-items-center map-article">
      <div class="col-8 map-info">
        <div class="map-info-top">
          <p class="map-name"><a href="/maps/<%= map.id %>"><%= map.name %></a></p>
          <p class="map-desc"><%= map.description %></p>
        </div>
        <div class="map-info-footer">
          <p class="map-favs-nums">Favourited by <span><%= map.favBy %></span></p>
          <p class="map-created-by">Map created by: <span><%= map.user_name %></span></p>
          <p class="map-last-edited-by">Map last edited by: <span><%= map.user_name_modified %></span></p>
        </div>
      </div>
    <div class="col-4 map-preview" data-map-id="<%= map.id %>">
      </div>
    </article>
    <%; displayedMaps.push(map.id); } %>
<% } %>